$primary-color: #333333;
$primary-blue: rgba(51, 51, 51, 0.90);

$color-white: #FFFFFF;

$color-grey-1: #F0F3F7;
$color-grey-2: #8596A6;
$color-grey-3: #252525;

$color-blue-1a: #10A2EA;
$color-blue-1b: #0F99E8;
